In [1]:
import pandas as pd

In [78]:
citibyke_tripdata = pd.read_csv('data/citibike-tripdata.csv', sep=',')
citibyke_tripdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [79]:
display(citibyke_tripdata['start station id'].mode())

0    281.0
Name: start station id, dtype: float64

In [80]:
display(citibyke_tripdata['bikeid'].mode())

0    33887
Name: bikeid, dtype: int64

In [81]:
citibyke_tripdata['usertype'].value_counts(normalize=True)*100

Subscriber    77.400667
Customer      22.599333
Name: usertype, dtype: float64

In [82]:
citibyke_tripdata['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [83]:
display(citibyke_tripdata['start station name'].nunique() - citibyke_tripdata['end station name'].nunique())

-6

In [84]:
display(2018-citibyke_tripdata['birth year'].max())

16

In [85]:
display(citibyke_tripdata['start station name'].value_counts())

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [86]:
display(citibyke_tripdata['end station name'].value_counts())

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [87]:
citibyke_tripdata.drop(['start station id','end station id'],axis=1,inplace=True)

In [88]:
citibyke_tripdata.head()

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [89]:
citibyke_tripdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [90]:
citibyke_tripdata.head()

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [95]:
citibyke_tripdata_df = citibyke_tripdata.copy()
citibyke_tripdata_df.head()

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [98]:
citibyke_tripdata_df['age'] = 2018 - citibyke_tripdata_df['birth year']
citibyke_tripdata_df.drop('birth year',axis=1,inplace=True)

In [99]:
citibyke_tripdata_df

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24
...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52

In [100]:
citibyke_tripdata_df[citibyke_tripdata_df['age']>60].shape[0]

11837

In [104]:
citibyke_tripdata_df['starttime'] = pd.to_datetime(citibyke_tripdata_df['starttime'])
citibyke_tripdata_df['stoptime'] = pd.to_datetime(citibyke_tripdata_df['stoptime'])
citibyke_tripdata_df

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24
...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.846,2018-09-05 19:15:51.494,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28
299996,2018-09-05 19:08:28.370,2018-09-05 19:20:01.508,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36
299997,2018-09-05 19:08:27.509,2018-09-05 19:13:40.506,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27
299998,2018-09-05 19:08:29.230,2018-09-05 20:04:29.322,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43
299999,2018-09-05 19:08:29.711,2018-09-05 19:12:14.762,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52

In [115]:
citibyke_tripdata_df['trip duraion'] = citibyke_tripdata_df['stoptime'] - citibyke_tripdata_df['starttime']
seconds = citibyke_tripdata_df['trip duraion'].mean().seconds
seconds

1126

In [121]:
weekends_days = citibyke_tripdata_df['starttime'].dt.dayofweek
weekends_days

0         5
1         5
2         5
3         5
4         5
         ..
299995    2
299996    2
299997    2
299998    2
299999    2
Name: starttime, Length: 300000, dtype: int64

In [123]:
citibyke_tripdata_df['weekend'] = weekends_days.apply(lambda x: 1 if x == 5 or x == 6 else 0 )
citibyke_tripdata_df

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duraion,weekend
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,0 days 00:27:15.365000,1
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,0 days 00:02:12.200000,1
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,0 days 00:55:37.898000,1
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,0 days 00:07:16.837000,1
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,0 days 02:20:57.993000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.846,2018-09-05 19:15:51.494,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28,0 days 00:07:23.648000,0
299996,2018-09-05 19:08:28.370,2018-09-05 19:20:01.508,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36,0 days 00:11:33.138000,0
299997,2018-09-05 19:08:27.509,2018-09-05 19:13:40.506,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27,0 days 00:05:12.997000,0
299998,2018-09-05 19:08:29.230,2018-09-05 20:04:29.322,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43,0 days 00:56:00.092000,0
299999,2018-09-05 19:08:29.711,2018-09-05 19:12:14.762,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52,0 days 00:03:45.051000,0

In [124]:
citibyke_tripdata_df['weekend'].sum()

115135

In [126]:
day_time = citibyke_tripdata_df['starttime'].dt.hour
day_time

0          0
1          0
2          0
3          0
4          0
          ..
299995    19
299996    19
299997    19
299998    19
299999    19
Name: starttime, Length: 300000, dtype: int64

In [129]:
def day_times(hour):
    if hour >= 0 and hour < 7:
        return 'night'
    elif hour > 6 and hour < 13:
        return 'morning'
    elif hour > 12 and hour < 19:
        return 'day'
    elif hour > 18 and hour < 24:
        return 'evening'
citibyke_tripdata_df['time_of_day'] = day_time.apply(day_times)
citibyke_tripdata_df

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duraion,weekend,time_of_day
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,0 days 00:27:15.365000,1,night
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,0 days 00:02:12.200000,1,night
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,0 days 00:55:37.898000,1,night
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,0 days 00:07:16.837000,1,night
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,0 days 02:20:57.993000,1,night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.846,2018-09-05 19:15:51.494,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28,0 days 00:07:23.648000,0,evening
299996,2018-09-05 19:08:28.370,2018-09-05 19:20:01.508,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36,0 days 00:11:33.138000,0,evening
299997,2018-09-05 19:08:27.509,2018-09-05 19:13:40.506,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27,0 days 00:05:12.997000,0,evening
299998,2018-09-05 19:08:29.230,2018-09-05 20:04:29.322,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43,0 days 00:56:00.092000,0,evening
299999,2018-09-05 19:08:29.711,2018-09-05 19:12:14.762,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52,0 days 00:03:45.051000,0,evening

In [131]:
display(citibyke_tripdata_df['time_of_day'].value_counts())

day        143012
morning     95530
evening     46373
night       15085
Name: time_of_day, dtype: int64